.projectStyle{
    height: 100%;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(2,1fr);
    background: linear-gradient(
        to right,
        #dc965a  0%,
        #dc965a 35%,
       white 35%,
       white 65%,
       #dc965a 65%,
        #dc965a 100%
    );
   

}

@media only screen and (max-width:688px) {
    .projectStyle{
        grid-template-columns: repeat(1,1fr);
        background: linear-gradient(
        to right,
        #dc965a  0%,
        #dc965a 50%,
       
        white 50%,
        white 100%
    );
    } 
 }
 @media only screen and (min-width:689px) and (max-width:991px){
     .projectStyle{
         grid-template-columns: repeat(2,1fr);
     }
 }